<div class="page-container">
  <div class="page-page-container">
    <div class="page-location-and-price">
      <div class="page-frame124">
        <div class="page-frame123">
          <span class="page-accommodation-name"><span>{{accommodation.name}}</span></span>
        </div>
        <div class="page-frame129">
          <div class="page-frame54">
            <span class="page-accommodation-location">
              <span>{{accommodation.location}}</span>
            </span>
          </div>
        </div>
        <div class="page-container1">
          <div class="page-frame52">
            <img
              src="/assets/external/star2032-172d.svg"
              alt="Star2057"
              class="page-star"
            />
            <img
              src="/assets/external/star2032-172d.svg"
              alt="Star2057"
              class="page-star1"
            />
            <img
              src="/assets/external/star2032-172d.svg"
              alt="Star2057"
              class="page-star2"
            />
            <img
              src="/assets/external/star2032-172d.svg"
              alt="Star2057"
              class="page-star3"
            />
            <img
              src="/assets/external/star2032-172d.svg"
              alt="Star2057"
              class="page-star4"
            />
          </div>
        </div>
      </div>
      <div class="page-frame135">
        <span class="page-accommodation-price"><span>€{{accommodation.price}}/night</span></span>
        <div class="page-frame134">
          <div class="page-stylelayer">
            <img
              src="/assets/external/heart-ico.png"
              alt="heartI205"
              class="page-heart"
            />
          </div>
          <button class="page-button">
            <div class="page-stylelayer1">
              <span class="page-text3 MontserratSemibold14px">
                <span>Book now</span>
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="page-photos">
      <img [attr.alt]="accommodation.photos.at(0)"
           [attr.src]="accommodation.photos.at(0)"
           class="page-accommodation-image" />
    </div>
    <div class="page-desctiption-frame">
      <span class="page-text5"><span>About this apartment</span></span>
      <span class="page-accommodation-description">
        <span><p></p>
          <b>Minimum guests: {{accommodation.minGuests}}</b><p></p>
          <b>Maximum guests: {{accommodation.maxGuests}}</b>
          <p></p>
          <p></p>
          {{accommodation.description}}
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          mattis molestie eros in commodo. Quisque non ullamcorper ligula. Sed a
          leo maximus, sodales lectus at, laoreet nibh. Praesent vitae massa eu
          lacus consequat scelerisque in vel dolor. Fusce dictum neque at
          dignissim euismod. Duis ac gravida risus. Nullam vestibulum
          consectetur porttitor. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Aliquam mattis molestie eros in commodo. Quisque non
          ullamcorper ligula. Sed a leo maximus, sodales lectus at, laoreet
          nibh. Praesent vitae massa eu lacus consequat scelerisque in vel
          dolor. Fusce dictum neque at dignissim euismod. Duis ac gravida risus.
          Nullam vestibulum consectetur porttitor.
          <span></span>
          <p></p><p></p>
        </span>
      </span>
    </div>
    <span class="page-text008"><span>Availability</span></span>
    <div class="page-calendar-ui-double-light">
      <div class="page-frame201">
        <span class="page-text010"><span>Start date</span></span>
        <span class="page-text012"><span>End date</span></span>
      </div>
      <img
        alt="Line221971"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="page-line22"
      />
      <div class="page-calendar-ui-light">
        <div class="page-calendar-ui-light1">
          <div class="page-content">
            <div class="page-month-yearline">
              <span class="page-text014">
                <span class="page-text015">July</span>
                <span class="page-text016">
                  <span><span ></span></span>
                  <span><span ></span></span>
                </span>
                <span>2021</span>
              </span>
            </div>
            <img
              alt="Line211971"
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              class="page-line21"
            />
            <div class="page-frame-day-date">
              <div class="page-dayline">
                <div class="page-day">
                  <span class="page-text020"><span>sun</span></span>
                </div>
                <div class="page-day01">
                  <span class="page-text022"><span>mon</span></span>
                </div>
                <div class="page-day02">
                  <span class="page-text024"><span>tue</span></span>
                </div>
                <div class="page-day03">
                  <span class="page-text026"><span>wed</span></span>
                </div>
                <div class="page-day04">
                  <span class="page-text028"><span>thu</span></span>
                </div>
                <div class="page-day05">
                  <span class="page-text030"><span>fri</span></span>
                </div>
                <div class="page-day06">
                  <span class="page-text032"><span>sat</span></span>
                </div>

              </div>
              <div class="page-dateline">
                <div class="page-date-numberline04">
                  <div class="page-date">
                    <span class="page-text034">1</span>
                  </div>
                  <div class="page-date01">
                    <span class="page-text035">2</span>
                  </div>
                  <div class="page-date02">
                    <span class="page-text036">3</span>
                  </div>
                  <div class="page-date03">
                    <span class="page-text037">4</span>
                  </div>
                  <div class="page-date04">
                    <span class="page-text038">5</span>
                  </div>
                  <div class="page-date05">
                    <span class="page-text039">6</span>
                  </div>
                  <div class="page-date06">
                    <span class="page-text040">7</span>
                  </div>
                </div>
                <div class="page-date-numberline03">
                  <div class="page-date07">
                    <span class="page-text041">8</span>
                  </div>
                  <div class="page-date08">
                    <span class="page-text042">9</span>
                  </div>
                  <div class="page-date09">
                    <span class="page-text043"><span>10</span></span>
                  </div>
                  <div class="page-date10">
                    <span class="page-text045"><span>11</span></span>
                  </div>
                  <div class="page-date11">
                    <span class="page-text047"><span>12</span></span>
                  </div>
                  <div class="page-date12">
                    <span class="page-text049"><span>13</span></span>
                  </div>
                  <div class="page-date13">
                    <span class="page-text051"><span>14</span></span>
                  </div>
                </div>
                <div class="page-date-numberline02">
                  <div class="page-date14">
                    <span class="page-text053"><span>15</span></span>
                  </div>
                  <div class="page-date15">
                    <span class="page-text055"><span>16</span></span>
                  </div>
                  <div class="page-date16">
                    <span class="page-text057"><span>17</span></span>
                  </div>
                  <div class="page-date17">
                    <span class="page-text059"><span>18</span></span>
                  </div>
                  <div class="page-date18">
                    <span class="page-text061"><span>19</span></span>
                  </div>
                  <div class="page-date19">
                    <span class="page-text063"><span>20</span></span>
                  </div>
                  <div class="page-date20">
                    <span class="page-text065"><span>21</span></span>
                  </div>
                </div>
                <div class="page-date-numberline01">
                  <div class="page-date21">
                    <span class="page-text067"><span>22</span></span>
                  </div>
                  <div class="page-date22">
                    <span class="page-text069"><span>23</span></span>
                  </div>
                  <div class="page-date23">
                    <span class="page-text071"><span>24</span></span>
                  </div>
                  <div class="page-date24">
                    <span class="page-text073"><span>25</span></span>
                  </div>
                  <div class="page-date25">
                    <span class="page-text075"><span>26</span></span>
                  </div>
                  <div class="page-date26">
                    <span class="page-text077"><span>27</span></span>
                  </div>
                  <div class="page-date27">
                    <span class="page-text079"><span>28</span></span>
                  </div>
                </div>
                <div class="page-datenumberline05">
                  <div class="page-date28">
                    <span class="page-text081"><span>29</span></span>
                  </div>
                  <div class="page-date29">
                    <span class="page-text083"><span>30</span></span>
                  </div>
                  <div class="page-date30">
                    <span class="page-text085"><span>31</span></span>
                  </div>
                  <div class="page-date31">
                    <span class="page-text087">1</span>
                  </div>
                  <div class="page-date32">
                    <span class="page-text088">1</span>
                  </div>
                  <div class="page-date33">
                    <span class="page-text089">1</span>
                  </div>
                  <div class="page-date34">
                    <span class="page-text090">1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-calendar-ui-light2">
          <div class="page-content1">
            <div class="page-month-yearline1">
              <span class="page-text091"><span>August 2021</span></span>
            </div>
            <img
              alt="Line211971"
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              class="page-line211"
            />
            <div class="page-frame-day-date1">
              <div class="page-dayline1">
                <div class="page-day07">
                  <span class="page-text093"><span>sun</span></span>
                </div>
                <div class="page-day08">
                  <span class="page-text095"><span>mon</span></span>
                </div>
                <div class="page-day09">
                  <span class="page-text097"><span>tue</span></span>
                </div>
                <div class="page-day10">
                  <span class="page-text099"><span>wed</span></span>
                </div>
                <div class="page-day11">
                  <span class="page-text101"><span>thu</span></span>
                </div>
                <div class="page-day12">
                  <span class="page-text103"><span>fri</span></span>
                </div>
                <div class="page-day13">
                  <span class="page-text105"><span>sat</span></span>
                </div>
              </div>
              <div class="page-dateline1">
                <div class="page-date-numberline041">
                  <div class="page-date35">
                    <span class="page-text107">1</span>
                  </div>
                  <div class="page-date36">
                    <span class="page-text108">2</span>
                  </div>
                  <div class="page-date37">
                    <span class="page-text109">3</span>
                  </div>
                  <div class="page-date38">
                    <span class="page-text110">4</span>
                  </div>
                  <div class="page-date39">
                    <span class="page-text111">5</span>
                  </div>
                  <div class="page-date40">
                    <span class="page-text112">6</span>
                  </div>
                  <div class="page-date41">
                    <span class="page-text113">7</span>
                  </div>
                </div>
                <div class="page-date-numberline031">
                  <div class="page-date42">
                    <span class="page-text114">8</span>
                  </div>
                  <div class="page-date43">
                    <span class="page-text115">9</span>
                  </div>
                  <div class="page-date44">
                    <span class="page-text116"><span>10</span></span>
                  </div>
                  <div class="page-date45">
                    <span class="page-text118"><span>11</span></span>
                  </div>
                  <div class="page-date46">
                    <span class="page-text120"><span>12</span></span>
                  </div>
                  <div class="page-date47">
                    <span class="page-text122"><span>13</span></span>
                  </div>
                  <div class="page-date48">
                    <span class="page-text124"><span>14</span></span>
                  </div>
                </div>
                <div class="page-date-numberline021">
                  <div class="page-date49">
                    <span class="page-text126"><span>15</span></span>
                  </div>
                  <div class="page-date50">
                    <span class="page-text128"><span>16</span></span>
                  </div>
                  <div class="page-date51">
                    <span class="page-text130"><span>17</span></span>
                  </div>
                  <div class="page-date52">
                    <span class="page-text132"><span>18</span></span>
                  </div>
                  <div class="page-date53">
                    <span class="page-text134"><span>19</span></span>
                  </div>
                  <div class="page-date54">
                    <span class="page-text136"><span>20</span></span>
                  </div>
                  <div class="page-date55">
                    <span class="page-text138"><span>21</span></span>
                  </div>
                </div>
                <div class="page-date-numberline011">
                  <div class="page-date56">
                    <span class="page-text140"><span>22</span></span>
                  </div>
                  <div class="page-date57">
                    <span class="page-text142"><span>23</span></span>
                  </div>
                  <div class="page-date58">
                    <span class="page-text144"><span>24</span></span>
                  </div>
                  <div class="page-date59">
                    <span class="page-text146"><span>25</span></span>
                  </div>
                  <div class="page-date60">
                    <span class="page-text148"><span>26</span></span>
                  </div>
                  <div class="page-date61">
                    <span class="page-text150"><span>27</span></span>
                  </div>
                  <div class="page-date62">
                    <span class="page-text152"><span>28</span></span>
                  </div>
                </div>
                <div class="page-datenumberline051">
                  <div class="page-date63">
                    <span class="page-text154"><span>29</span></span>
                  </div>
                  <div class="page-date64">
                    <span class="page-text156"><span>30</span></span>
                  </div>
                  <div class="page-date65">
                    <span class="page-text158"><span>31</span></span>
                  </div>
                  <div class="page-date66">
                    <span class="page-text160">1</span>
                  </div>
                  <div class="page-date67">
                    <span class="page-text161">1</span>
                  </div>
                  <div class="page-date68">
                    <span class="page-text162">1</span>
                  </div>
                  <div class="page-date69">
                    <span class="page-text163">1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-frame250">
      <div class="page-frame168">
        <span class="page-text164"><span>4.5/5</span></span>
        <div class="page-frame521">
          <img
            alt="Star2032"
            src="/assets/external/star2032-172d.svg"
            class="page-star05"
          />
          <img
            alt="Star2032"
            src="/assets/external/star2032-oegf.svg"
            class="page-star06"
          />
          <img
            alt="Star2032"
            src="/assets/external/star2032-d4m.svg"
            class="page-star07"
          />
          <img
            alt="Star2032"
            src="/assets/external/star2032-zaoa.svg"
            class="page-star08"
          />
          <img
            alt="Star2032"
            src="/assets/external/star2032-otq6.svg"
            class="page-star09"
          />
        </div>
        <div class="page-frame169">
          <span class="page-text166"><span>Very good</span></span>
          <span class="page-text168"><span>2 reviews</span></span>
        </div>
        <span class="page-text170"><span>Ratings &amp; Reviews</span></span>
      </div>
      <div class="page-frame251">
        <div class="page-frame249">
          <span class="page-text172"><span>Erin Septimus</span></span>
          <div class="page-frame">
            <img
              alt="Vector2032"
              src="/assets/external/vector2032-nc2m.svg"
              class="page-vector"
            />
            <img
              alt="Vector2032"
              src="/assets/external/vector2032-6ulc.svg"
              class="page-vector01"
            />
            <img
              alt="Vector2032"
              src="/assets/external/vector2032-0rp.svg"
              class="page-vector02"
            />
            <img
              alt="Vector2032"
              src="/assets/external/vector2032-iqap.svg"
              class="page-vector03"
            />
            <img
              alt="Vector2032"
              src="/assets/external/vector2032-nc2m.svg"
              class="page-vector04"
            />
          </div>
        </div>
        <span class="page-text174">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            mattis molestie eros in commodo. Quisque non ullamcorper ligula. Sed
            a leo maximus, sodales lectus at, laoreet nibh. Praesent vitae massa
            eu lacus consequat scelerisque in vel dolor. Fusce dictum neque at
            dignissim euismod. Duis ac gravida risus. Nullam vestibulum
            consectetur porttitor. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit.
          </span>
        </span>
      </div>
      <div class="page-frame252">
        <div class="page-frame2491">
          <span class="page-text176"><span>Kaiya Lubin</span></span>
          <div class="page-frame1">
            <img
              alt="Vector2032"
              src="/assets/external/vector2032-b57m.svg"
              class="page-vector05"
            />
            <img
              alt="Vector2032"
              src="/assets/external/vector2032-8htb.svg"
              class="page-vector06"
            />
            <img
              alt="Vector2032"
              src="/assets/external/vector2032-mege.svg"
              class="page-vector07"
            />
            <img
              alt="Vector2032"
              src="/assets/external/vector2032-opbr.svg"
              class="page-vector08"
            />
            <img
              alt="Vector2032"
              src="/assets/external/vector2032-b57m.svg"
              class="page-vector09"
            />
          </div>
        </div>
        <span class="page-text178">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            mattis molestie eros in commodo. Quisque non ullamcorper ligula. Sed
            a leo maximus, sodales lectus at, laoreet nibh. Praesent vitae massa
            eu lacus consequat scelerisque in vel dolor. Fusce dictum neque at
            dignissim euismod. Duis ac gravida risus. Nullam vestibulum
            consectetur porttitor. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit.
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
