<div class="accommodation-details-container">
  <div class="accommodation-details-desktop21">
    <div class="accommodation-details-mattoolbarcontent">
      <div class="accommodation-details-matbtn">
        <span class="accommodation-details-text vIconmedium">
          <span>menu</span>
        </span>
      </div>
      <span class="accommodation-details-text002"></span>
      <div class="accommodation-details-matbtn1"></div>
    </div>
    <a routerLink="/" class="accommodation-details-navlink">
      <img alt="logo121978" src class="accommodation-details-logo12" />
    </a>
    <a routerLink="/login" class="accommodation-details-navlink1">
      <div class="accommodation-details-matbtn2 button">
        <div class="accommodation-details-content">
          <span class="accommodation-details-text003 vTextbutton">
            <span>LOG IN</span>
          </span>
        </div>
      </div>
    </a>
    <div class="accommodation-details-matdivider"></div>
    <div class="accommodation-details-matdivider1"></div>
    <div class="accommodation-details-matdivider2"></div>
    <div class="accommodation-details-matdivider3"></div>
    <div class="accommodation-details-matdivider4"></div>
    <div class="accommodation-details-frame124">
      <div class="accommodation-details-frame123">
        <span class="accommodation-details-text005">
          <span>Apartment A</span>
        </span>
      </div>
      <div class="accommodation-details-frame129">
        <div class="accommodation-details-frame54">
          <img
            alt="Location1979"
            src="/assets/external/location1979-1kbu.svg"
            class="accommodation-details-location"
          />
          <span class="accommodation-details-text007">
            <span>Trg Dositeja Obradovica 26, Novi Sad, Serbia</span>
          </span>
        </div>
      </div>
    </div>
    <div class="accommodation-details-frame125">
      <img alt="Rectangle31979" src class="accommodation-details-rectangle3" />
      <div class="accommodation-details-frame128">
        <div class="accommodation-details-frame126">
          <img
            alt="Rectangle51979"
            src
            class="accommodation-details-rectangle5"
          />
          <img
            alt="Rectangle61979"
            src
            class="accommodation-details-rectangle6"
          />
        </div>
        <div class="accommodation-details-frame127">
          <img
            alt="Rectangle51979"
            src
            class="accommodation-details-rectangle51"
          />
          <img
            alt="Rectangle61979"
            src
            class="accommodation-details-rectangle61"
          />
          <button class="accommodation-details-button"></button>
        </div>
      </div>
    </div>
    <div class="accommodation-details-frame244">
      <span class="accommodation-details-text009"><span>Amentities</span></span>
      <div class="accommodation-details-frame164">
        <div class="accommodation-details-frame162">
          <img
            alt="mdipool1971"
            src="/assets/external/mdipool1971-gnpj.svg"
            class="accommodation-details-mdipool"
          />
          <span class="accommodation-details-text011">
            <span>Wi - Fi</span>
          </span>
        </div>
        <div class="accommodation-details-frame163">
          <img
            alt="mdipool1971"
            src="/assets/external/mdipool1971-gags.svg"
            class="accommodation-details-mdipool1"
          />
          <span class="accommodation-details-text013"><span>TV</span></span>
        </div>
        <div class="accommodation-details-frame1641">
          <img
            alt="materialsymbolssparounded1971"
            src="/assets/external/materialsymbolssparounded1971-i6n.svg"
            class="accommodation-details-materialsymbolssparounded"
          />
          <span class="accommodation-details-text015">
            <span>Parking</span>
          </span>
        </div>
        <div class="accommodation-details-frame166">
          <div
            class="accommodation-details-materialsymbolsroomservicerounded"
          ></div>
        </div>
      </div>
      <div class="accommodation-details-frame1631">
        <div class="accommodation-details-mdipool2"></div>
      </div>
      <div class="accommodation-details-frame1661">
        <div class="accommodation-details-materialsymbolssparounded1"></div>
      </div>
      <div class="accommodation-details-frame165">
        <div class="accommodation-details-icroundrestaurant"></div>
      </div>
      <div class="accommodation-details-frame167">
        <div class="accommodation-details-frame1621">
          <img
            alt="mdipool1971"
            src="/assets/external/mdipool1971-yb7e.svg"
            class="accommodation-details-mdipool3"
          />
          <span class="accommodation-details-text017">
            <span>Wi - Fi</span>
          </span>
        </div>
        <div class="accommodation-details-frame1632">
          <img
            alt="mdipool1971"
            src="/assets/external/mdipool1971-3ia.svg"
            class="accommodation-details-mdipool4"
          />
          <span class="accommodation-details-text019"><span>TV</span></span>
        </div>
        <div class="accommodation-details-frame1642">
          <div class="accommodation-details-frame1651">
            <img
              alt="icroundrestaurant2032"
              src="/assets/external/icroundrestaurant2032-ge88.svg"
              class="accommodation-details-icroundrestaurant1"
            />
            <span class="accommodation-details-text021">
              <span>Kitchen</span>
            </span>
          </div>
        </div>
        <div class="accommodation-details-frame1662">
          <div
            class="accommodation-details-materialsymbolsroomservicerounded1"
          ></div>
        </div>
      </div>
      <span class="accommodation-details-text023">
        <span>
          See all
          <span ></span>
        </span>
      </span>
    </div>
    <div class="accommodation-details-frame146">
      <span class="accommodation-details-text025">
        <span>About this apartment</span>
      </span>
      <span class="accommodation-details-text027">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          mattis molestie eros in commodo. Quisque non ullamcorper ligula. Sed a
          leo maximus, sodales lectus at, laoreet nibh. Praesent vitae massa eu
          lacus consequat scelerisque in vel dolor. Fusce dictum neque at
          dignissim euismod. Duis ac gravida risus. Nullam vestibulum
          consectetur porttitor. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Aliquam mattis molestie eros in commodo. Quisque non
          ullamcorper ligula. Sed a leo maximus, sodales lectus at, laoreet
          nibh. Praesent vitae massa eu lacus consequat scelerisque in vel
          dolor. Fusce dictum neque at dignissim euismod. Duis ac gravida risus.
          Nullam vestibulum consectetur porttitor.
          <span ></span>
        </span>
      </span>
    </div>
    <div class="accommodation-details-frame245">
      <span class="accommodation-details-text029"><span>Location</span></span>
      <div class="accommodation-details-frame246">
        <img alt="image21971" src class="accommodation-details-image2" />
        <img alt="image31971" src class="accommodation-details-image3" />
      </div>
      <div class="accommodation-details-frame541">
        <img
          alt="Location1971"
          src="/assets/external/location1971-9rac.svg"
          class="accommodation-details-location1"
        />
        <span class="accommodation-details-text031">
          <span>Trg Dositeja Obradovica 26, Novi Sad, Serbia</span>
        </span>
      </div>
    </div>
    <div class="accommodation-details-frame247">
      <span class="accommodation-details-text033">
        <span>Availability</span>
      </span>
    </div>
    <div class="accommodation-details-calendar-ui-double-light">
      <div class="accommodation-details-frame201">
        <span class="accommodation-details-text035">
          <span>Start date</span>
        </span>
        <img
          alt="arrowright1971"
          src="/assets/external/arrowright1971-yqkb.svg"
          class="accommodation-details-arrowright"
        />
        <span class="accommodation-details-text037"><span>End date</span></span>
      </div>
      <img
        alt="Line221971"
        src="/assets/external/line221971-brw.svg"
        class="accommodation-details-line22"
      />
      <div class="accommodation-details-calendar-ui-light">
        <div class="accommodation-details-content1">
          <div class="accommodation-details-month-yearline">
            <img
              alt="chevronleft1971"
              src="/assets/external/chevronleft1971-on5la.svg"
              class="accommodation-details-chevronleft"
            />
            <span class="accommodation-details-text039">
              <span class="accommodation-details-text040">July</span>
              <span class="accommodation-details-text041">
                <span></span>
              </span>
              <span>2021</span>
            </span>
          </div>
          <img
            alt="Line211971"
            src="/assets/external/line211971-cqom.svg"
            class="accommodation-details-line21"
          />
          <div class="accommodation-details-frame-day-date">
            <div class="accommodation-details-dayline">
              <div class="accommodation-details-day">
                <span class="accommodation-details-text043">
                  <span>sun</span>
                </span>
              </div>
              <div class="accommodation-details-day01">
                <span class="accommodation-details-text045">
                  <span>mon</span>
                </span>
              </div>
              <div class="accommodation-details-day02">
                <span class="accommodation-details-text047">
                  <span>tue</span>
                </span>
              </div>
              <div class="accommodation-details-day03">
                <span class="accommodation-details-text049">
                  <span>wed</span>
                </span>
              </div>
              <div class="accommodation-details-day04">
                <span class="accommodation-details-text051">
                  <span>thu</span>
                </span>
              </div>
              <div class="accommodation-details-day05">
                <span class="accommodation-details-text053">
                  <span>fri</span>
                </span>
              </div>
              <div class="accommodation-details-day06">
                <span class="accommodation-details-text055">
                  <span>sat</span>
                </span>
              </div>
            </div>
            <div class="accommodation-details-dateline">
              <div class="accommodation-details-date-numberline04">
                <div class="accommodation-details-date">
                  <span class="accommodation-details-text057">1</span>
                </div>
                <div class="accommodation-details-date01">
                  <span class="accommodation-details-text058">2</span>
                </div>
                <div class="accommodation-details-date02">
                  <span class="accommodation-details-text059">3</span>
                </div>
                <div class="accommodation-details-date03">
                  <span class="accommodation-details-text060">4</span>
                </div>
                <div class="accommodation-details-date04">
                  <span class="accommodation-details-text061">5</span>
                </div>
                <div class="accommodation-details-date05">
                  <span class="accommodation-details-text062">6</span>
                </div>
                <div class="accommodation-details-date06">
                  <span class="accommodation-details-text063">7</span>
                </div>
              </div>
              <div class="accommodation-details-date-numberline03">
                <div class="accommodation-details-date07">
                  <span class="accommodation-details-text064">8</span>
                </div>
                <div class="accommodation-details-date08">
                  <span class="accommodation-details-text065">9</span>
                </div>
                <div class="accommodation-details-date09">
                  <span class="accommodation-details-text066">
                    <span>10</span>
                  </span>
                </div>
                <div class="accommodation-details-date10">
                  <span class="accommodation-details-text068">
                    <span>11</span>
                  </span>
                </div>
                <div class="accommodation-details-date11">
                  <span class="accommodation-details-text070">
                    <span>12</span>
                  </span>
                </div>
                <div class="accommodation-details-date12">
                  <span class="accommodation-details-text072">
                    <span>13</span>
                  </span>
                </div>
                <div class="accommodation-details-date13">
                  <span class="accommodation-details-text074">
                    <span>14</span>
                  </span>
                </div>
              </div>
              <div class="accommodation-details-date-numberline02">
                <div class="accommodation-details-date14">
                  <span class="accommodation-details-text076">
                    <span>15</span>
                  </span>
                </div>
                <div class="accommodation-details-date15">
                  <span class="accommodation-details-text078">
                    <span>16</span>
                  </span>
                </div>
                <div class="accommodation-details-date16">
                  <span class="accommodation-details-text080">
                    <span>17</span>
                  </span>
                </div>
                <div class="accommodation-details-date17">
                  <span class="accommodation-details-text082">
                    <span>18</span>
                  </span>
                </div>
                <div class="accommodation-details-date18">
                  <span class="accommodation-details-text084">
                    <span>19</span>
                  </span>
                </div>
                <div class="accommodation-details-date19">
                  <span class="accommodation-details-text086">
                    <span>20</span>
                  </span>
                </div>
                <div class="accommodation-details-date20">
                  <span class="accommodation-details-text088">
                    <span>21</span>
                  </span>
                </div>
              </div>
              <div class="accommodation-details-date-numberline01">
                <div class="accommodation-details-date21">
                  <span class="accommodation-details-text090">
                    <span>22</span>
                  </span>
                </div>
                <div class="accommodation-details-date22">
                  <span class="accommodation-details-text092">
                    <span>23</span>
                  </span>
                </div>
                <div class="accommodation-details-date23">
                  <span class="accommodation-details-text094">
                    <span>24</span>
                  </span>
                </div>
                <div class="accommodation-details-date24">
                  <span class="accommodation-details-text096">
                    <span>25</span>
                  </span>
                </div>
                <div class="accommodation-details-date25">
                  <span class="accommodation-details-text098">
                    <span>26</span>
                  </span>
                </div>
                <div class="accommodation-details-date26">
                  <span class="accommodation-details-text100">
                    <span>27</span>
                  </span>
                </div>
                <div class="accommodation-details-date27">
                  <span class="accommodation-details-text102">
                    <span>28</span>
                  </span>
                </div>
              </div>
              <div class="accommodation-details-datenumberline05">
                <div class="accommodation-details-date28">
                  <span class="accommodation-details-text104">
                    <span>29</span>
                  </span>
                </div>
                <div class="accommodation-details-date29">
                  <span class="accommodation-details-text106">
                    <span>30</span>
                  </span>
                </div>
                <div class="accommodation-details-date30">
                  <span class="accommodation-details-text108">
                    <span>31</span>
                  </span>
                </div>
                <div class="accommodation-details-date31">
                  <span class="accommodation-details-text110">1</span>
                </div>
                <div class="accommodation-details-date32">
                  <span class="accommodation-details-text111">1</span>
                </div>
                <div class="accommodation-details-date33">
                  <span class="accommodation-details-text112">1</span>
                </div>
                <div class="accommodation-details-date34">
                  <span class="accommodation-details-text113">1</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accommodation-details-calendar-ui-light1">
        <div class="accommodation-details-content2">
          <div class="accommodation-details-month-yearline1">
            <span class="accommodation-details-text114">
              <span>August 2021</span>
            </span>
            <img
              alt="chevronright1971"
              src="/assets/external/chevronright1971-wri.svg"
              class="accommodation-details-chevronright"
            />
          </div>
          <img
            alt="Line211971"
            src="/assets/external/line211971-ik8.svg"
            class="accommodation-details-line211"
          />
          <div class="accommodation-details-frame-day-date1">
            <div class="accommodation-details-dayline1">
              <div class="accommodation-details-day07">
                <span class="accommodation-details-text116">
                  <span>sun</span>
                </span>
              </div>
              <div class="accommodation-details-day08">
                <span class="accommodation-details-text118">
                  <span>mon</span>
                </span>
              </div>
              <div class="accommodation-details-day09">
                <span class="accommodation-details-text120">
                  <span>tue</span>
                </span>
              </div>
              <div class="accommodation-details-day10">
                <span class="accommodation-details-text122">
                  <span>wed</span>
                </span>
              </div>
              <div class="accommodation-details-day11">
                <span class="accommodation-details-text124">
                  <span>thu</span>
                </span>
              </div>
              <div class="accommodation-details-day12">
                <span class="accommodation-details-text126">
                  <span>fri</span>
                </span>
              </div>
              <div class="accommodation-details-day13">
                <span class="accommodation-details-text128">
                  <span>sat</span>
                </span>
              </div>
            </div>
            <div class="accommodation-details-dateline1">
              <div class="accommodation-details-date-numberline041">
                <div class="accommodation-details-date35">
                  <span class="accommodation-details-text130">1</span>
                </div>
                <div class="accommodation-details-date36">
                  <span class="accommodation-details-text131">2</span>
                </div>
                <div class="accommodation-details-date37">
                  <span class="accommodation-details-text132">3</span>
                </div>
                <div class="accommodation-details-date38">
                  <span class="accommodation-details-text133">4</span>
                </div>
                <div class="accommodation-details-date39">
                  <span class="accommodation-details-text134">5</span>
                </div>
                <div class="accommodation-details-date40">
                  <span class="accommodation-details-text135">6</span>
                </div>
                <div class="accommodation-details-date41">
                  <span class="accommodation-details-text136">7</span>
                </div>
              </div>
              <div class="accommodation-details-date-numberline031">
                <div class="accommodation-details-date42">
                  <span class="accommodation-details-text137">8</span>
                </div>
                <div class="accommodation-details-date43">
                  <span class="accommodation-details-text138">9</span>
                </div>
                <div class="accommodation-details-date44">
                  <span class="accommodation-details-text139">
                    <span>10</span>
                  </span>
                </div>
                <div class="accommodation-details-date45">
                  <span class="accommodation-details-text141">
                    <span>11</span>
                  </span>
                </div>
                <div class="accommodation-details-date46">
                  <span class="accommodation-details-text143">
                    <span>12</span>
                  </span>
                </div>
                <div class="accommodation-details-date47">
                  <span class="accommodation-details-text145">
                    <span>13</span>
                  </span>
                </div>
                <div class="accommodation-details-date48">
                  <span class="accommodation-details-text147">
                    <span>14</span>
                  </span>
                </div>
              </div>
              <div class="accommodation-details-date-numberline021">
                <div class="accommodation-details-date49">
                  <span class="accommodation-details-text149">
                    <span>15</span>
                  </span>
                </div>
                <div class="accommodation-details-date50">
                  <span class="accommodation-details-text151">
                    <span>16</span>
                  </span>
                </div>
                <div class="accommodation-details-date51">
                  <span class="accommodation-details-text153">
                    <span>17</span>
                  </span>
                </div>
                <div class="accommodation-details-date52">
                  <span class="accommodation-details-text155">
                    <span>18</span>
                  </span>
                </div>
                <div class="accommodation-details-date53">
                  <span class="accommodation-details-text157">
                    <span>19</span>
                  </span>
                </div>
                <div class="accommodation-details-date54">
                  <span class="accommodation-details-text159">
                    <span>20</span>
                  </span>
                </div>
                <div class="accommodation-details-date55">
                  <span class="accommodation-details-text161">
                    <span>21</span>
                  </span>
                </div>
              </div>
              <div class="accommodation-details-date-numberline011">
                <div class="accommodation-details-date56">
                  <span class="accommodation-details-text163">
                    <span>22</span>
                  </span>
                </div>
                <div class="accommodation-details-date57">
                  <span class="accommodation-details-text165">
                    <span>23</span>
                  </span>
                </div>
                <div class="accommodation-details-date58">
                  <span class="accommodation-details-text167">
                    <span>24</span>
                  </span>
                </div>
                <div class="accommodation-details-date59">
                  <span class="accommodation-details-text169">
                    <span>25</span>
                  </span>
                </div>
                <div class="accommodation-details-date60">
                  <span class="accommodation-details-text171">
                    <span>26</span>
                  </span>
                </div>
                <div class="accommodation-details-date61">
                  <span class="accommodation-details-text173">
                    <span>27</span>
                  </span>
                </div>
                <div class="accommodation-details-date62">
                  <span class="accommodation-details-text175">
                    <span>28</span>
                  </span>
                </div>
              </div>
              <div class="accommodation-details-datenumberline051">
                <div class="accommodation-details-date63">
                  <span class="accommodation-details-text177">
                    <span>29</span>
                  </span>
                </div>
                <div class="accommodation-details-date64">
                  <span class="accommodation-details-text179">
                    <span>30</span>
                  </span>
                </div>
                <div class="accommodation-details-date65">
                  <span class="accommodation-details-text181">
                    <span>31</span>
                  </span>
                </div>
                <div class="accommodation-details-date66">
                  <span class="accommodation-details-text183">1</span>
                </div>
                <div class="accommodation-details-date67">
                  <span class="accommodation-details-text184">1</span>
                </div>
                <div class="accommodation-details-date68">
                  <span class="accommodation-details-text185">1</span>
                </div>
                <div class="accommodation-details-date69">
                  <span class="accommodation-details-text186">1</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="accommodation-details-text187">
      <span class="accommodation-details-text188">€65</span>
      <span>per night</span>
    </span>
    <div class="accommodation-details-frame250">
      <span class="accommodation-details-text190">
        <span>Ratings &amp; Reviews</span>
      </span>
      <div class="accommodation-details-frame52">
        <img
          alt="Star2032"
          src="/assets/external/star2032-172d.svg"
          class="accommodation-details-star"
        />
        <img
          alt="Star2032"
          src="/assets/external/star2032-oegf.svg"
          class="accommodation-details-star1"
        />
        <img
          alt="Star2032"
          src="/assets/external/star2032-d4m.svg"
          class="accommodation-details-star2"
        />
        <img
          alt="Star2032"
          src="/assets/external/star2032-zaoa.svg"
          class="accommodation-details-star3"
        />
        <img
          alt="Star2032"
          src="/assets/external/star2032-otq6.svg"
          class="accommodation-details-star4"
        />
      </div>
    </div>
    <div class="accommodation-details-frame168">
      <span class="accommodation-details-text192"><span>4.5/5</span></span>
      <div class="accommodation-details-frame169">
        <span class="accommodation-details-text194">
          <span>Very good</span>
        </span>
        <span class="accommodation-details-text196">
          <span>2 reviews</span>
        </span>
      </div>
    </div>
    <div class="accommodation-details-frame251">
      <span class="accommodation-details-text198">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          mattis molestie eros in commodo. Quisque non ullamcorper ligula. Sed a
          leo maximus, sodales lectus at, laoreet nibh. Praesent vitae massa eu
          lacus consequat scelerisque in vel dolor. Fusce dictum neque at
          dignissim euismod. Duis ac gravida risus. Nullam vestibulum
          consectetur porttitor. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit.
        </span>
      </span>
      <div class="accommodation-details-frame249">
        <span class="accommodation-details-text200">
          <span>Erin Septimus</span>
        </span>
        <div class="accommodation-details-group12">
          <img
            alt="unsplashC8Ta0gwPbQg2032"
            src
            class="accommodation-details-unsplash-c8-ta0gw-pb-qg"
          />
          <img alt="Ellipse12032" src class="accommodation-details-ellipse1" />
          <img alt="Ellipse22032" src class="accommodation-details-ellipse2" />
        </div>
        <div class="accommodation-details-frame">
          <img
            alt="Vector2032"
            src="/assets/external/vector2032-nc2m.svg"
            class="accommodation-details-vector"
          />
          <img
            alt="Vector2032"
            src="/assets/external/vector2032-6ulc.svg"
            class="accommodation-details-vector1"
          />
          <img
            alt="Vector2032"
            src="/assets/external/vector2032-0rp.svg"
            class="accommodation-details-vector2"
          />
          <img
            alt="Vector2032"
            src="/assets/external/vector2032-iqap.svg"
            class="accommodation-details-vector3"
          />
          <div class="accommodation-details-frame1">
            <img
              alt="SVG2032"
              src="/assets/external/svg2032-8ycu.svg"
              class="accommodation-details-svg"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="accommodation-details-frame252">
      <span class="accommodation-details-text202">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          mattis molestie eros in commodo. Quisque non ullamcorper ligula. Sed a
          leo maximus, sodales lectus at, laoreet nibh. Praesent vitae massa eu
          lacus consequat scelerisque in vel dolor. Fusce dictum neque at
          dignissim euismod. Duis ac gravida risus. Nullam vestibulum
          consectetur porttitor. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit.
        </span>
      </span>
      <div class="accommodation-details-frame2491">
        <span class="accommodation-details-text204">
          <span>Kaiya Lubin</span>
        </span>
        <div class="accommodation-details-frame2">
          <img
            alt="Vector2032"
            src="/assets/external/vector2032-b57m.svg"
            class="accommodation-details-vector4"
          />
          <img
            alt="Vector2032"
            src="/assets/external/vector2032-8htb.svg"
            class="accommodation-details-vector5"
          />
          <img
            alt="Vector2032"
            src="/assets/external/vector2032-mege.svg"
            class="accommodation-details-vector6"
          />
          <img
            alt="Vector2032"
            src="/assets/external/vector2032-opbr.svg"
            class="accommodation-details-vector7"
          />
          <div class="accommodation-details-frame3">
            <img
              alt="SVG2032"
              src="/assets/external/svg2032-fxc.svg"
              class="accommodation-details-svg1"
            />
          </div>
        </div>
        <img alt="Ellipse12032" src class="accommodation-details-ellipse11" />
      </div>
    </div>
    <div class="accommodation-details-stylelayer">
      <img
        alt="heart2032"
        src="/assets/external/heart2032-xmy9.svg"
        class="accommodation-details-heart"
      />
    </div>
    <div class="accommodation-details-frame254">
      <img
        alt="uiwdate2032"
        src="/assets/external/uiwdate2032-p9pr.svg"
        class="accommodation-details-uiwdate"
      />
      <div class="accommodation-details-matinputslot">
        <input
          type="text"
          placeholder="      Check in"
          class="accommodation-details-matinputslot1"
        />
      </div>
      <img
        alt="uiwdate2032"
        src="/assets/external/uiwdate2032-ia7n.svg"
        class="accommodation-details-uiwdate1"
      />
      <div class="accommodation-details-matinputslot2">
        <input
          type="text"
          placeholder="      Check in"
          class="accommodation-details-matinputslot3"
        />
      </div>
      <div class="accommodation-details-matselectslot">
        <input
          type="text"
          placeholder="      2 Guests"
          class="accommodation-details-matinputslot4"
        />
        <div class="accommodation-details-maticon">
          <span class="accommodation-details-text206 vIconmedium">
            <span>arrow_drop_down</span>
          </span>
        </div>
      </div>
      <img
        alt="Vector2032"
        src="/assets/external/vector2032-rl6.svg"
        class="accommodation-details-vector8"
      />
      <div class="accommodation-details-frame255">
        <span class="accommodation-details-text208">
          <span>
            Price per night
            <span ></span>
          </span>
        </span>
        <span class="accommodation-details-text210">
          <span>
            Price per guest
            <span ></span>
          </span>
        </span>
        <span class="accommodation-details-text212"><span>€65</span></span>
        <span class="accommodation-details-text214">/</span>
      </div>
      <div class="accommodation-details-matdivider5"></div>
      <span class="accommodation-details-text215">
        <span>Total price</span>
      </span>
      <span class="accommodation-details-text217"><span>€65</span></span>
      <div class="accommodation-details-matbtn3 button">
        <div class="accommodation-details-content3">
          <span class="accommodation-details-text219"><span>Book</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
