<div class="desktop2-container">
  <div class="desktop2-desktop2">
    <div class="desktop2-rectangle5">
      <div class="desktop2-rectangle4">
        <div>
          <div class="desktop2-image1">
            <span class="desktop2-text"><span>Welcome</span></span>
            <span class="desktop2-text02">
              <span>Don’t have an account yet? </span>
            </span>
            <span class="desktop2-text04">
              <span>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam.
              </span>
            </span>
            <div class="desktop2-matbtn">
              <div class="desktop2-content">
                <span class="desktop2-text06 vTextbutton">
                  <span>SIGN UP</span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="desktop2-frame266">
          <img alt="logo113181" src class="desktop2-logo11" />
          <div class="desktop2-matinput">
            <div class="desktop2-frame">
              <img
                alt="Frame2683181"
                src="/assets/external/frame2683181-8yaq.svg"
                class="desktop2-frame268"
              />
            </div>
            <div class="desktop2-frame1">
              <div class="desktop2-matinputslot">
                <div class="desktop2-frame2">
                  <input
                    type="text"
                    placeholder="Default Slot"
                    class="desktop2-matinputslot1"
                  />
                </div>
                <div class="desktop2-matdivider"></div>
              </div>
            </div>
          </div>
          <div class="desktop2-matinput1">
            <div class="desktop2-frame3">
              <div class="desktop2-maticon">
                <span class="desktop2-text08 vIconmedium"></span>
                <img
                  alt="Vector3181"
                  src="/assets/external/vector3181-9uah.svg"
                  class="desktop2-vector"
                />
              </div>
            </div>
            <div class="desktop2-frame4">
              <div class="desktop2-matinputslot2">
                <div class="desktop2-frame5">
                  <input
                    type="text"
                    placeholder="Default Slot"
                    class="desktop2-matinputslot3"
                  />
                </div>
                <div class="desktop2-matdivider1"></div>
              </div>
            </div>
          </div>
          <div class="desktop2-matbtn1">
            <div class="desktop2-content1">
              <span class="desktop2-text09 vTextbutton">
                <span>login</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
