:host {
  display: contents;
}
.desktop2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop2-desktop2 {
  gap: 10px;
  width: 1920px;
  height: 1080px;
  display: flex;
  padding: 107px 283px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(252, 248, 236, 1);
}
.desktop2-rectangle5 {
  gap: 10px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}
.desktop2-rectangle4 {
  width: 1354px;
  height: 798px;
  display: flex;
  background-size: cover;
  background-image: url("/assets/external/rectangle43181-8w6m.svg");
  background-position: center;
}
.desktop2-frame5 {
  gap: 10px;
  width: 677px;
  height: 798px;
  display: flex;
  z-index: 1;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px 0 0 20px;
  flex-direction: column;
  justify-content: space-between;
}
.desktop2-image1 {
  width: 677px;
  height: 798px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('#');
  background-position: center;
}
.desktop2-text {
  top: 104px;
  left: 202px;
  color: rgba(255, 255, 255, 1);
  width: 273px;
  height: auto;
  z-index: 2;
  position: absolute;
  font-size: 68px;
  font-style: normal;
  text-align: center;
  font-family: Alatsi;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text02 {
  top: 640px;
  left: 156px;
  color: rgba(255, 255, 255, 1);
  width: 353px;
  height: auto;
  z-index: 3;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Alatsi;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text04 {
  top: 214px;
  left: 106px;
  color: rgba(255, 255, 255, 1);
  width: 466px;
  height: auto;
  z-index: 4;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Alatsi;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-matbtn {
  gap: 16px;
  width: 165px;
  height: 44px;
  display: flex;
  padding: 0 16px;
  z-index: 1;
  align-self: center;
  flex-shrink: 0;
  border-radius: 44px;
  justify-content: center;
  background-color: rgba(241, 90, 42, 1);
}
.desktop2-content {
  gap: 9px;
  display: flex;
  padding: 11px 0;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.desktop2-text06 {
  color: var(--dl-color-shades-white);
  height: auto;
  text-align: center;
  line-height: 36px;
}
.desktop2-frame266 {
  gap: 20px;
  display: flex;
  padding: 0 143px;
  z-index: 2;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.desktop2-logo11 {
  width: 116px;
  height: 116px;
}
.desktop2-matinput {
  gap: 9px;
  width: 390px;
  height: 57px;
  display: flex;
  padding: 0 2px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
}
.desktop2-frame {
  gap: 10px;
  display: flex;
  padding: 8px 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.desktop2-frame268 {
  width: 20px;
  height: 19px;
}
.desktop2-frame1 {
  width: 357px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop2-matinputslot {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.desktop2-frame2 {
  gap: 10px;
  display: flex;
  padding: 8px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.desktop2-matinputslot1 {
  gap: 10px;
  color: rgba(0, 0, 0, 0.8700000047683716);
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  font-size: 16px;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
}
.desktop2-matdivider {
  width: 357px;
  height: 1px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  background-color: rgba(241, 90, 42, 0.41999998688697815);
}
.desktop2-matinput1 {
  gap: 9px;
  width: 390px;
  height: 57px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-frame3 {
  gap: 10px;
  display: flex;
  padding: 8px 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.desktop2-maticon {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop2-text08 {
  left: 12px;
  color: var(--dl-color-black-054);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 100%;
}
.desktop2-vector {
  top: 1.7121429443359375px;
  left: 2px;
  width: 20px;
  height: 21px;
  position: absolute;
}
.desktop2-frame4 {
  width: 357px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop2-matinputslot2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.desktop2-frame5 {
  gap: 10px;
  display: flex;
  padding: 8px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.desktop2-matinputslot3 {
  gap: 10px;
  color: rgba(0, 0, 0, 0.8700000047683716);
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  font-size: 16px;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
}
.desktop2-matdivider1 {
  width: 357px;
  height: 1px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  background-color: rgba(241, 90, 42, 0.41999998688697815);
}
.desktop2-matbtn1 {
  gap: 16px;
  width: 378px;
  height: 40px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(241, 90, 42, 1);
}
.desktop2-content1 {
  gap: 9px;
  display: flex;
  padding: 11px 0;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.desktop2-text09 {
  color: var(--dl-color-shades-white);
  height: auto;
  text-align: center;
  line-height: 36px;
}
