<div class="guest-reservations-container">
  <div class="guest-reservations-desktop41">
    <img src alt="Rectangle55261" class="guest-reservations-rectangle5" />
    <div class="guest-reservations-reservations">
      <span class="guest-reservations-text">
        <span>Accommodation requests</span>
      </span>
      <div class="guest-reservations-guest-reservations">
        <div *ngFor="let accommodation of accommodationRequests">
          <app-accommodation-card-request [accommodation]="accommodation"></app-accommodation-card-request>
        </div>
      </div>
    </div>
  </div>
</div>
