<div class="login-container">
  <div class="login-desktop2">
    <div class="login-rectangle4">
      <div class="login-frame5">
        <div class="login-image1">
          <span class="login-text"><span>Welcome</span></span>
          <span class="login-text02">
            <span>Don’t have an account yet? </span>
          </span>
          <span class="login-text04">
            <span>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam.
            </span>
          </span>
          <a routerLink="/register" class="login-navlink">
            <div class="login-matbtn button">
              <div class="login-content">
                <span class="login-text06 vTextbutton">
                  <span>SIGN UP</span>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="login-frame266">
        <a routerLink="/" class="login-navlink1">
          <img alt="logo113181" src class="login-logo11 button" />
        </a>
        <div class="login-matinput">
          <div class="login-frame">
            <img
              alt="Frame2683181"
              src="/assets/external/frame2683181-8yaq.svg"
              class="login-frame268"
            />
          </div>
          <div class="login-frame1">
            <input
              type="text"
              placeholder="Default Slot"
              class="login-matinputslot"
            />
            <div class="login-matdivider"></div>
          </div>
        </div>
        <div class="login-matinput1">
          <div class="login-maticon">
            <img
              alt="Vector3181"
              src="/assets/external/vector3181-9uah.svg"
              class="login-vector"
            />
          </div>
          <div class="login-frame2">
            <input
              type="text"
              placeholder="Default Slot"
              class="login-matinputslot1"
            />
            <div class="login-matdivider1"></div>
          </div>
        </div>
        <div class="login-matbtn1 button">
          <div class="login-content1">
            <span class="login-text08 vTextbutton"><span>login</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
