<div class="register-container">
  <div class="register-desktop10">
    <div class="register-rectangle4">
      <div class="register-donthaveaaccountcontainer">
        <div class="register-image1">
          <span class="register-text"><span>Welcome</span></span>
          <span class="register-text02">
            <span>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam.
            </span>
          </span>
          <a routerLink="/login" class="register-navlink">
            <div class="register-matbtn button">
              <div class="register-content">
                <span class="register-text04 vTextbutton">
                  <span>Log in</span>
                </span>
              </div>
            </div>
          </a>
          <span class="register-text06">
            <span>You have an account? </span>
          </span>
        </div>
      </div>
      <div class="register-logincontainer">
        <a routerLink="/" class="login-navlink1">
          <img alt="logo113181" src class="register-logo11 button" />
        </a>

        <div class="register-lastnamematinput">
          <div class="register-maticon">
            <img
              src="/assets/external/vector2391-acfn.svg"
              alt="Vector2391"
              class="register-vector"
            />
          </div>
          <div class="register-frame">
            <input
              type="text"
              placeholder="Last name"
              class="register-matinputslot"
            />
            <div class="register-matdivider"></div>
          </div>
        </div>
        <div class="register-lastnamematinput1">
          <div class="register-maticon1">
            <img
              src="/assets/external/vector2391-acfn.svg"
              alt="Vector2391"
              class="register-vector1"
            />
          </div>
          <div class="register-frame01">
            <input
              type="text"
              placeholder="Last name"
              class="register-matinputslot01"
            />
            <div class="register-matdivider1"></div>
          </div>
        </div>
        <div class="register-confirmpasswordmatinput">
          <div class="register-maticon2">
            <img
              src="/assets/external/vector2371-suom.svg"
              alt="Vector2371"
              class="register-vector2"
            />
          </div>
          <div class="register-frame02">
            <div class="register-matinputslot02">
              <div class="register-frame03">
                <input
                  type="text"
                  placeholder="Confirm password"
                  class="register-matinputslot03"
                />
              </div>
              <div class="register-matdivider2"></div>
            </div>
          </div>
        </div>
        <div class="register-firstnamematinput">
          <div class="register-maticon3">
            <img
              src="/assets/external/vector2391-ttkg.svg"
              alt="Vector2391"
              class="register-manicon"
            />
          </div>
          <div class="register-maticon4">
            <input
              type="text"
              placeholder="First name"
              class="register-matinputslot04"
            />
            <div class="register-matdivider3"></div>
          </div>
        </div>
        <div class="register-phonenumbermatinput">
          <div class="register-maticon5">
            <img
              src="/assets/external/vector2391-gjeg.svg"
              alt="Vector2391"
              class="register-phone-vector"
            />
          </div>
          <div class="register-frame04">
            <div class="register-matinputslot05">
              <div class="register-frame05">
                <input
                  type="text"
                  placeholder="Phone number"
                  class="register-matinputslot06"
                />
              </div>
              <div class="register-matdivider4"></div>
            </div>
          </div>
        </div>
        <div class="register-emailmatinput">
          <div class="register-maticon6">
            <img
              src="/assets/external/vector4682-inc.svg"
              alt="Vector4682"
              class="register-mess-vector"
            />
          </div>
          <div class="register-frame06">
            <div class="register-matinputslot07">
              <div class="register-frame07">
                <input
                  type="text"
                  placeholder="Email"
                  class="register-matinputslot08"
                />
              </div>
              <div class="register-matdivider5"></div>
            </div>
          </div>
        </div>
        <div class="register-passwordmatinput">
          <div class="register-maticon7">
            <img
              src="/assets/external/vector4682-xl5q.svg"
              alt="Vector4682"
              class="register-pass-vector"
            />
          </div>
          <div class="register-matinputslot09">
            <input
              type="text"
              placeholder="Password"
              class="register-matinputslot10"
            />
            <div class="register-matdivider6"></div>
          </div>
        </div>
        <div class="register-adressmatinput">
          <div class="register-maticon8">
            <img
              src="/assets/external/locationon2391-7e1d.svg"
              alt="Locationon2391"
              class="register-locationon"
            />
          </div>
          <div class="register-frame08">
            <div class="register-matinputslot11">
              <div class="register-frame09">
                <input
                  type="text"
                  placeholder="Address"
                  class="register-matinputslot12"
                />
              </div>
              <div class="register-matdivider7"></div>
            </div>
          </div>
        </div>
        <div class="register-matbtn1 button">
          <div class="register-content1">
            <span class="register-text08 vTextbutton">
              <span>SiGN UP</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
