:host {
  display: contents;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(27, 41, 76, 1);
  color: rgba(255, 255, 255, 1);
  padding: 20px 0;
}
.footer-background {
  gap: 10px;
  width: 100%;
  height: 270px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(27, 41, 76, 1);
}
.footer-footer-ui {
  width: 1074px;
  height: 355px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-rectangle11 {
  top: 0px;
  left: 0px;
  width: 1074px;
  height: 2px;
  opacity: 0.30;
  position: absolute;
}
.footer-about {
  top: 325px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.footer-policy {
  top: 325px;
  left: 318px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.footer-disclaimer {
  top: 325px;
  left: 461px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.footer-contact {
  top: 325px;
  left: 111px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.footer-help {
  top: 325px;
  left: 236px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.footer-copyright {
  top: 325px;
  left: 883px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.70;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.footer-information {
  top: 92px;
  left: 538px;
  width: 460px;
  height: 128px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-social {
  top: 104px;
  left: 0px;
  width: 460px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-youtubecolor1 {
  top: 0px;
  left: 244px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-youtube {
  top: 6px;
  left: 3px;
  width: 18px;
  height: 13px;
  position: absolute;
}
.footer-instagramblack1 {
  top: 0px;
  left: 292px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-instagram {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.footer-googleplusblack1 {
  top: 0px;
  left: 340px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-google-plus {
  top: 7px;
  left: 3px;
  width: 18px;
  height: 11px;
  position: absolute;
}
.footer-linkedinblack1 {
  top: 0px;
  left: 196px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-linked-in {
  top: 4px;
  left: 3px;
  width: 18px;
  height: 16px;
  position: absolute;
}
.footer-group29 {
  top: 0px;
  left: 100px;
  width: 360px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-facebookblack1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-facebook {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.footer-pinterestcolor1 {
  top: 0px;
  left: 288px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-pinterest {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.footer-rssblack1 {
  top: 0px;
  left: 336px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-rss {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.footer-twitterblack1 {
  top: 0px;
  left: 148px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-twitter {
  top: 5px;
  left: 3px;
  width: 18px;
  height: 15px;
  position: absolute;
}
.footer-text06 {
  top: 3px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.70;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.footer-location {
  top: 0px;
  left: 0px;
  width: 354px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.footer-text08 {
  top: 3px;
  left: 40px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.footer-roundplace24px {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-path {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.footer-shape {
  top: 2px;
  left: 5px;
  width: 14px;
  height: 19px;
  position: absolute;
}
.footer-phone {
  top: 40px;
  left: 0px;
  width: 150px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.footer-text09 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.footer-roundphone24px {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-bounding-boxes {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-path1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.footer-rounded1 {
  top: 3.009999990463257px;
  left: 3.0263264179229736px;
  width: 17.96377182006836px;
  height: 17.963672637939453px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.footer-path2 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.footer-logo11 {
  top: 91px;
  left: 149px;
  width: 116px;
  height: 116px;
  position: absolute;
}
