<footer class="footer-container">
<div>
  <div class="footer-background">
    <div class="footer-footer-ui">
      <img src alt="Rectangle11I218" class="footer-rectangle11" />
      <span class="footer-about"><span>About us</span></span>
      <span class="footer-policy"><span>Privacy Policy</span></span>
      <span class="footer-disclaimer"><span>Disclaimer</span></span>
      <span class="footer-contact"><span>Contact us</span></span>
      <span class="footer-help"><span>Help</span></span>
      <span class="footer-copyright">
        <span>Copyright © 2018 • Lift Media Inc.</span>
      </span>
      <div class="footer-information">
        <div class="footer-social">
          <div class="footer-youtubecolor1">
            <img
              src="/assets/external/yt.svg"
              alt="YoutubeI218"
              class="footer-youtube"
            />
          </div>
          <div class="footer-instagramblack1">
            <img
              src="/assets/external/instagram.svg"
              alt="InstagramI218"
              class="footer-instagram"
            />
          </div>
          <div class="footer-googleplusblack1">
            <img
              src="/assets/external/googleplus.svg"
              alt="GooglePlusI218"
              class="footer-google-plus"
            />
          </div>
          <div class="footer-linkedinblack1">
            <img
              src="/assets/external/linkedin.svg"
              alt="LinkedInI218"
              class="footer-linked-in"
            />
          </div>
          <div class="footer-group29">
            <div class="footer-facebookblack1">
              <img
                src="/assets/external/facebook.svg"
                alt="FacebookI218"
                class="footer-facebook"
              />
            </div>
            <div class="footer-pinterestcolor1">
              <img
                src="/assets/external/pinterest.svg"
                alt="PinterestI218"
                class="footer-pinterest"
              />
            </div>
            <div class="footer-rssblack1">
              <img src="/assets/external/rssi.svg" alt="RSSI218" class="footer-rss" />
            </div>
          </div>
          <div class="footer-twitterblack1">
            <img
              src="/assets/external/twitter.svg"
              alt="TwitterI218"
              class="footer-twitter"
            />
          </div>
          <span class="footer-text06"><span>Social Media</span></span>
        </div>
        <div class="footer-location">
          <span class="footer-text08">
            345 Faulconer Drive, Suite 4 • Charlottesville, CA, 12345
          </span>
          <div class="footer-roundplace24px">
            <img src="/assets/external/path.svg" alt="PathI218" class="footer-path" />

          </div>
        </div>
        <div class="footer-phone">
          <span class="footer-text09">(123) 456-7890</span>
          <div class="footer-roundphone24px">
            <div class="footer-bounding-boxes">
              <img src="/assets/external/location2.svg" alt="PathI218" class="footer-path1" />
            </div>
          </div>
        </div>
      </div>
      <img src="/assets/external/logo.svg" alt="logo" class="footer-logo11" />
    </div>
  </div>
</div>
</footer>
