:host {
  display: contents;
}
.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  font-family: Lato;
}
.login-desktop2 {
  gap: 10px;
  width: 98%;
  height: 100%;
  display: flex;
  padding: 107px 283px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(252, 248, 236, 1);
}
.login-rectangle4 {
  width: 145vh;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: row;
  background-size: cover;
  justify-content: flex-start;
  background-color: white;
  background-position: center;
  /*border: 0.5px solid rgba(241, 90, 42, 1);*/

}
.login-sing-up-bg-image {
  gap: 130px;
  width: 48%;
  height: 73vh;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  background-size: cover;
  justify-content: center;
  background-position: center;
  border-radius: 20px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/external/login-background.png');
  background-size: cover;
  filter: blur(1.5px);
  z-index: 0;
  border-radius: 20px 0 0 20px;
}

.login-welcome-text {
  color: rgba(255, 255, 255, 1);
  width: 273px;
  height: auto;
  z-index: 2;
  font-size: 68px;
  font-style: normal;
  text-align: center;
  font-family: Lato;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
  margin-top: 35px;
  font-weight: bold;
}
.login-detail-text {
  color: rgba(255, 255, 255, 1);
  width: 466px;
  height: auto;
  z-index: 4;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
  margin-top: 20px;
  font-weight: bold;
}
.login-sign-up-content {
  gap: 9px;
  height: 130px;
  display: flex;
  padding: 11px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;

}
.login-text2 {
  color: rgba(255, 255, 255, 1);
  width: 353px;
  height: auto;
  z-index: 3;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Lato;
  font-weight: 550;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.login-navlink {
  display: contents;
}
.login-sing-up-mat-btn {
  gap: 16px;
  width: 165px;
  height: 44px;
  display: flex;
  padding: 0 16px;
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-width: 0px;
  border-radius: 44px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(241, 90, 42, 1);
}
.login-sing-up-mat-btn:hover {
  background-color: #f5a58c;
}
.login-content {
  gap: 9px;
  display: flex;
  padding: 11px 0;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.login-text4 {
  color: var(--dl-color-shades-white);
  height: auto;
  text-align: center;
  line-height: 36px;
  font-family: Lato;
}
.login-frame266 {
  gap: 20px;
  width: 50%;
  height: 330px;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.login-navlink1 {
  display: contents;
}
.login-logo11 {
  width: 116px;
  height: 116px;
  text-decoration: none;
}
.login-email-input {
  gap: 9px;
  width: auto;
  height: 57px;
  display: flex;
  padding: 0 2px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
}
.login-frame {
  gap: 10px;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  padding-top: 8px;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 8px;
  justify-content: center;
}
.login-frame268 {
  width: 20px;
  height: 19px;
}
.login-frame1 {
  width: 357px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.login-matinputslot {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.login-frame2 {
  gap: 10px;
  display: flex;
  padding: 8px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.login-emailinputslot {
  gap: 10px;
  color: rgba(0, 0, 0, 0.8700000047683716);
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  font-size: 16px;
  text-align: left;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  border-color: rgba(0, 0, 0, 0);
  border-style: hidden;
  padding-left: 0px;
}
.login-emailinputslot:focus {
  outline: unset;
}
.login-matdivider {
  width: auto;
  height: 1px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  background-color: rgba(241, 90, 42, 0.41999998688697815);
}
.login-password-input {
  gap: 9px;
  width: auto;
  height: 57px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.login-maticon {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.login-vector {
  top: 1.7121429443359375px;
  left: 2px;
  width: 20px;
  height: 21px;
  position: absolute;
}
.login-frame3 {
  width: 357px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.login-matinputslot1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.login-frame4 {
  gap: 10px;
  display: flex;
  padding: 8px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.login-passwordinputslot {
  gap: 10px;
  color: rgba(0, 0, 0, 0.8700000047683716);
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  font-size: 16px;
  text-align: left;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  border-style: hidden;
  border-width: 0px;
  padding-left: 0px;
}
.login-passwordinputslot:focus {
  outline: unset;
}
.login-matdivider1 {
  width: 357px;
  height: 1px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  background-color: rgba(241, 90, 42, 0.41999998688697815);
}
.login-log-in-btn {
  gap: 16px;
  flex: 1;
  width: 50%;
  height: 44px;
  display: flex;
  padding: 0 16px;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: 44px;
  justify-content: center;
  background-color: rgba(241, 90, 42, 1);
}
.login-log-in-btn:hover {
  background-color: #f5a58c;
}
.login-content1 {
  gap: 9px;
  display: flex;
  padding: 11px 0;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.login-text6 {
  color: var(--dl-color-shades-white);
  height: auto;
  text-align: center;
  line-height: 36px;
}

