<div class="accommodation-card-container" [routerLink]="['/accommodation', accommodation.id]">
  <div class="accommodation-card-park-lineapartmentin-miami-fl1">
    <img
      [attr.src]="accommodation.photos.at(0)"
      [attr.alt]="accommodation.photos.at(0)"
      class="accommodation-card-image"
    />
  </div>
  <div class="accommodation-card-matimg">
    <span class="accommodation-card-text"><span>{{ accommodation.name }}</span></span>
    <span class="accommodation-card-text02"><span>{{ accommodation.location }}</span></span>
    <button *ngIf="showButton" class="edit-accommodation-btn" (click)="goToEditPage()">Edit accommodation</button>
    <div class="accommodation-card-starrate">
      <img
        [attr.alt]="Vector_alt5"
        [attr.src]="Vector_src5"
        class="accommodation-card-vector"
      />
      <span class="accommodation-card-text04"><span>{{ text2 }}</span></span>
    </div>
    <div class="accommodation-card-matimg1">
      <img
        [attr.alt]="Vector_alt"
        [attr.src]="Vector_src"
        class="accommodation-card-vector1"
      />
      <span class="accommodation-card-text06"><span>{{ text4 }}</span></span>
      <img
        [attr.alt]="Vector_alt1"
        [attr.src]="Vector_src1"
        class="accommodation-card-vector2"
      />
      <span class="accommodation-card-text08"><span>{{ text5 }}</span></span>
      <img
        [attr.alt]="Vector_alt2"
        [attr.src]="Vector_src2"
        class="accommodation-card-vector3"
      />
      <span class="accommodation-card-text10"><span>{{ text6 }}</span></span>
      <img
        [attr.alt]="Vector_alt3"
        [attr.src]="Vector_src3"
        class="accommodation-card-vector4"
      />
      <span class="accommodation-card-text12"><span>{{ text8 }}</span></span>
    </div>
    <div class="accommodation-card-price">
      <div>
        <span class="accommodation-card-text14"><span>$ {{ accommodation.defaultPrice }}</span></span>
        <span class="accommodation-card-text16"><span>{{ text7 }}</span></span>
      </div>
      <div class="accommodation-card-guests">
        <span class="accommodation-card-text17"><span>Min. guests: {{accommodation.minGuests}}  </span></span>
        <span class="accommodation-card-text18"><span>Max. guests: {{accommodation.maxGuests}}</span></span>

      </div>

    </div>
  </div>
</div>
