:host {
  display: contents;
}
.accommodation-card-container {
  width: 397px;
  height: 483px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.accommodation-card-park-lineapartmentin-miami-fl1 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-size: cover;
  justify-content: center;
  background-image: url('#');
  background-position: center;
}
.accommodation-card-park-lineapartmentin-miami-fl1:hover{
  cursor: pointer;
}
.accommodation-card-image {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.accommodation-card-matimg {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
}
.accommodation-card-text {
  color: rgba(18, 61, 108, 1);
  width: 156px;
  height: auto;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.accommodation-card-text02 {
  color: rgba(18, 61, 108, 0.6000000238418579);
  width: 150px;
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.accommodation-card-starrate {
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  align-self: flex-end;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.accommodation-card-vector {
  width: 14px;
  height: 15px;
}
.accommodation-card-text04 {
  color: rgba(18, 61, 108, 1);
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.accommodation-card-matimg1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: space-between;
}
.accommodation-card-vector1 {
  width: 18px;
  height: 15px;
}
.accommodation-card-text06 {
  color: rgba(18, 61, 108, 1);
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.accommodation-card-vector2 {
  width: 21px;
  height: 15px;
}
.accommodation-card-text08 {
  color: rgba(18, 61, 108, 1);
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.accommodation-card-vector3 {
  width: 12px;
  height: 15px;
}
.accommodation-card-text10 {
  color: rgba(18, 61, 108, 1);
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.accommodation-card-vector4 {
  width: 13px;
  height: 15px;
}
.accommodation-card-text12 {
  color: rgba(18, 61, 108, 1);
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.accommodation-card-price {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.accommodation-card-text14 {
  color: rgba(241, 90, 42, 1);
  height: auto;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.accommodation-card-text16 {
  color: rgba(241, 90, 42, 1);
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}

.edit-accommodation-btn{
  font-family: Lato;
  background-color: rgba(241, 90, 42, 1);
  color: white;
  border : unset;
  height: 30px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.edit-accommodation-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.automatic-approval{
  z-index: 9999;
}
