body {
  margin: 0;
  padding: 0;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f0f0f0;
  font-size: 18px;
  color: #333;
  color: rgba(0, 0, 0, 1);

  font-size: 45px;
  font-style: italic;
  text-align: left;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.profil-page-container {
  width: 60%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  height: 98%;
}

.profil-page-container form{
  display: flex;
  flex-direction: column;

  color: rgba(27, 27, 27, 1);
  font-size: 26px;
  font-style: italic;
  text-align: left;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.profil-page-container input{
  padding: 15px;
  box-sizing: border-box;
  border-color: rgba(173, 173, 173, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;

  font-size: 24px;
  text-align: left;
  font-family: Lato;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.edit-text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  margin-left: 50px;
}

.row{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  padding-bottom: 50px;
}

.row span{
  justify-content: flex-start;
  text-align: left;
}

#pic-row{
  justify-content:flex-start;
  margin-left: 15px;
}

.profile-picture{
  width: 109px;
  height: 110px;
  border-radius: 500px;
}

.first-name, .last-name, .email, .password, .address, .number, .notificationcb{
  display: flex;
  flex-direction: column;
  width: 95%;
}


.first-name, .last-name, .address, .number{
  width: 45%;
  text-align: left;
}

.lineup{
  display: inline-block;
  position: relative;
  overflow: hidden;
}

#password{
  width: 100%;
}

#showPasswordCheckbox{
  position: absolute;
  top: 18px;
  right: 20px;
  height: 18px;
  width: 18px;
  cursor: pointer;
  accent-color: rgba(241, 90, 42, 1);
}

.notificationcb input[type="checkbox"]{
  width: 20px;
  height: 50px;
  cursor: pointer;
  accent-color: rgba(241, 90, 42, 1);
}

.notificationcb{
  display: flex;
  flex-direction:row;
}

.notificationcb span{
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons{
  margin-top:10px;
  padding-left: 10px;
  display:flex;
  justify-content: flex-start;
}

.buttons button{
  height: 4vh;
  margin-left: 20px;
  width: 10vw;
}

.reset{
  color: rgba(241, 90, 42, 1);
  font-size: 28px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  outline: 2px solid rgba(241, 90, 42, 1);
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  border: none;
}

.save{
  color: rgba(241, 90, 42, 1);
  font-size: 28px;
  text-align: center;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid rgba(241, 90, 42, 1);
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  border: none;
}

.edit{
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(241, 90, 42, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  text-align: center;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
}

.edit:hover{
  cursor: pointer;
  background: rgba(255, 255, 255, 1);
  color: rgba(241, 90, 42, 1);
  border: solid rgba(241, 90, 42, 1);
}

.save:hover{
  cursor: pointer;
  background: rgba(241, 90, 42, 1);
  color: rgba(255, 255, 255, 1);
}
.reset:hover{
  cursor: pointer;
  background: rgba(241, 90, 42, 1);
  color: rgba(255, 255, 255, 1);
}

.profile-picture:hover{
  cursor: pointer;
}
