<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div class="profil-page-container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="row" id="pic-row">
      <input type="file" #fileInput style="display: none" (change)="handleFileInput($event)" formControlName="picture">
      <img
        [src]="selectedImageSrc"
        alt="unsplashC8Ta0gwPbQg4012"
        class="profile-picture"
        (click)="openFileInput()"
      />
      <span class="edit-text">
                Edit profile
            </span>
    </div>

    <div class="row">
      <div class="first-name">
        <span for="first-name">First Name</span>
        <input type="text" id="first-name" name="first-name" formControlName="firstName"/>
      </div>

      <div class="last-name">
        <span for="last-name">Last Name</span>
        <input type="text" id="last-name" name="last-name" formControlName="lastName"/>
      </div>
    </div>

    <div class="row">
      <div class="email">
        <span for="email">Email</span>
        <input type="email" id="email" name="email"  formControlName="email"/>
      </div>
    </div>

    <div class="row">
      <div class="address">
        <span for="address">Address</span>
        <input type="text" id="address" name="address" formControlName="address"/>
      </div>

      <div class="number">
        <span for="number">Phone Number</span>
        <input type="text" id="number" name="number" formControlName="phone"/>
      </div>
    </div>

    <div class="row">
      <div class="password">
        <span for="password">Password</span>
        <div class="lineup">
          <input type="{{ passwordInputType }}" id="password" name="password" formControlName="password" />
          <input type="checkbox" id="showPasswordCheckbox" formControlName="showPassword">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="notificationcb">
        <input type="checkbox" id="notifications" formControlName="notifications">
        <span for="nofitications">Receive notifications</span>
      </div>
    </div>

    <div class="row buttons">
      <button type="button" class="edit" (click)="editForm()">Edit</button>
      <button type="submit" class="save" *ngIf="editButtonsVisible" (click)="save()">Save</button>
      <button type="button" class="reset" *ngIf="editButtonsVisible" (click)="resetForm()">Reset</button>
      <button type="button" class="reset" *ngIf="editButtonsVisible" (click)="deleteUser()">Delete Profile</button>
    </div>

  </form>
</div>

</body>
</html>

