<div class="frame141-frame14" [ngClass]="rootClassName">
  <div class="frame141-park-lineapartmentin-miami-fl1">
    <img [attr.src]="image_src" [attr.alt]="image_alt" class="frame141-image" />
  </div>
  <div class="frame141-matimg">
    <span class="frame141-text"><span>{{ text }}</span></span>
    <span class="frame141-text02"><span>{{ text1 }}</span></span>
    <div class="frame141-starrate">
      <img
        [attr.alt]="Vector_alt5"
        [attr.src]="Vector_src5"
        class="frame141-vector"
      />
      <span class="frame141-text04"><span>{{ text2 }}</span></span>
    </div>
    <div class="frame141-matimg1">
      <img
        [attr.alt]="Vector_alt"
        [attr.src]="Vector_src"
        class="frame141-vector1"
      />
      <span class="frame141-text06"><span>{{ text4 }}</span></span>
      <img
        [attr.alt]="Vector_alt1"
        [attr.src]="Vector_src1"
        class="frame141-vector2"
      />
      <span class="frame141-text08"><span>{{ text5 }}</span></span>
      <img
        [attr.alt]="Vector_alt2"
        [attr.src]="Vector_src2"
        class="frame141-vector3"
      />
      <span class="frame141-text10"><span>{{ text6 }}</span></span>
      <img
        [attr.alt]="Vector_alt3"
        [attr.src]="Vector_src3"
        class="frame141-vector4"
      />
      <span class="frame141-text12"><span>{{ text8 }}</span></span>
    </div>
    <div class="frame141-price">
      <span class="frame141-text14"><span>{{ text3 }}</span></span>
      <span class="frame141-text16"><span>{{ text7 }}</span></span>
    </div>
  </div>
</div>
