:host { 
  display: contents; 
}
.frame141-frame14 {
  width: 273px;
  height: 376px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.frame141-park-lineapartmentin-miami-fl1 {
  width: auto;
  height: 203px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-size: cover;
  justify-content: center;
  background-image: url('#');
  background-position: center;
}
.frame141-image {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.frame141-matimg {
  gap: var(--dl-space-space-halfunit);
  width: 267px;
  height: 188px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
}
.frame141-text {
  color: rgba(18, 61, 108, 1);
  width: 156px;
  height: auto;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.frame141-text02 {
  color: rgba(18, 61, 108, 0.6000000238418579);
  width: 150px;
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.frame141-starrate {
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  align-self: flex-end;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.frame141-vector {
  width: 14px;
  height: 15px;
}
.frame141-text04 {
  color: rgba(18, 61, 108, 1);
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.frame141-matimg1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: space-between;
}
.frame141-vector1 {
  width: 18px;
  height: 15px;
}
.frame141-text06 {
  color: rgba(18, 61, 108, 1);
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.frame141-vector2 {
  width: 21px;
  height: 15px;
}
.frame141-text08 {
  color: rgba(18, 61, 108, 1);
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.frame141-vector3 {
  width: 12px;
  height: 15px;
}
.frame141-text10 {
  color: rgba(18, 61, 108, 1);
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.frame141-vector4 {
  width: 13px;
  height: 15px;
}
.frame141-text12 {
  color: rgba(18, 61, 108, 1);
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.frame141-price {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.frame141-text14 {
  color: rgba(18, 61, 108, 1);
  height: auto;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.frame141-text16 {
  color: rgba(18, 61, 108, 0.699999988079071);
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.frame141-root-class-name {
  top: 7px;
  left: 828px;
  position: static;
}
.frame141-root-class-name1 {
  top: 7px;
  left: 828px;
  position: static;
}
