<div  class="owner-reservation-component-frame150">
  <div class="owner-reservation-component-date-info1">
    <div class="description-div">
      <span>guest@gmail.com created a request for your apartment 5. </span>
    </div>
  </div>
  <div class="owner-reservation-component-status-info">
    <div class="owner-reservation-component-stylelayer button" (click)="deleteNotification()">
        <span class="owner-reservation-component-text5">
          <span class="owner-reservation-component-text5">Delete</span>
        </span>
    </div>
  </div>
</div>
